%nav.navbar.navbar-default.navbar-fixed-top.primary-nav
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}
        = image_tag 'logo.svg', height: '50px'
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "/getting-started"}
            %span.fa.fa-play-circle.fa-lg.navbar-link-icon.fa-fw>
            Get Started
        /
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false"><span class="nav-links help"></span>
          Help&nbsp;<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
          <li><a href="/submitter-workflow">Submitter Workflow</a></li>
          <li><a href="/reviewer-workflow">Reviewer Workflow</a></li>
          <li class="dropdown-submenu"><a tabindex="-1" href="#">Manage Assignment</a>
          <ul class="dropdown-menu">
          <li><a href="/create-assignment">Create Assignment</a></li>
          <li><a href="/">Update Assignment</a></li>
          </ul>
          </li>
          </ul>
          </li>
        %li
          %a{:href => "/faq"}
            %span.fa.fa-question-circle.fa-lg.navbar-link-icon.fa-fw>
            FAQ
        %li.dropdown
          %a#drop-exercises.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Exercises
            %b.caret
          %ul#menu-exercises.dropdown-menu{"area-labelledby" => "drop-exercises", :role => "menu"}
            %li
              %a{:href => "/java-exercises", :role => "menuitem"}
                %span.navbar-link-icon.fa-fw>
                Java
            %li
              %a{:href => "/javascript-exercises", :role => "menuitem"}
                %span.navbar-link-icon.fa-fw>
                Javascript
        - if current_user and !current_user.guest?
          = render "layouts/nitpicker_languages"
          = render "layouts/teams"
          = render "layouts/notifications"
          = render "layouts/account"
        - else
          %li
            %a{:href => "/login"}
              %span.fa.fa-github.fa-lg.navbar-link-icon.fa-fw>
              Log In
        - if Rails.env.development?
          = render "layouts/backdoor"
    / /.nav-collapse
